body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
}
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
	margin: 0;
}
a {
	text-decoration: none;
	color: currentColor;
}

.top-header {
	background-color: #c4170c;
	border: 1px solid #707070;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 123px;
	padding: 0 100px;
	width: auto;
}
.top-menu {
	font-size: 25px;
	text-align: left;
	flex: 1;
}
.top-menu a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #fff;
}
.top-menu span {
	margin: 9px;
}

.top-search {
	box-sizing: border-box;
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.top-search input::placeholder {
	color: #fff;
	opacity: 1;
	font-family: "Segoe UI";
}
form {
	display: flex;
	align-items: center;
}
form input {
	padding-left: 57px;
}

.search-img {
	position: absolute;
	margin-left: 14px;
	background-color: rgb(255, 255, 255);
	-webkit-mask: url("/img/search.svg") no-repeat center;
	mask: url("/img/search.svg") no-repeat center;
	width: 30px;
	height: 33px;
}

.top-search input:focus {
	outline: 0;
	background-color: #fff;
	width: 380px;
}



.top-search input {
	background-color: #8b0000;
	border-radius: 8px;
	font-size: 25px;
	text-align: left;
	height: 46px;
	border: 1px solid #707070;
}

.top-search input:focus::placeholder {
	color: #707070;
}
.main-content {
	margin: 0 5%;
}

.top-main h1 {
	font-size: 35px;
	text-align: center;
	font-weight: bold;
	margin: 45px auto;
}
.grid-main {
	display: grid;
	width: auto;
	grid-template-columns: 1fr 1fr;
	column-gap: 95px;
}

.grid-1 {
	border: 1px solid #707070;
	border-radius: 4px;
	text-align: left;
	color: #880000;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.grid-1text {
	margin: 0 30px;
	display: flex;
	flex-direction: column;
}
.grid-1text h2 {
	font-size: 40px;
	font-weight: 600;
}
.grid-1text p {
	font-size: 25px;
}
.grid-2 {
	display: flex;
	flex-direction: column;
	gap: 110px;
	font-size: 25px;
	font-weight: 600;
}

.grid-2 img {
	width: 100%;
}

.bottom-main {
	display: flex;
	flex-direction: column;
	margin-top: 150px;
	gap: 95px;
}
.horizontal-line {
	width: 100%;
	height: 2px;
	background-color: #707070;
}
.card-1 {
	display: flex;
	gap: 95px;
}
.card-1text {
	display: flex;
	flex-direction: column;
	gap: 35px;
}
.card-container {
	width: 50%;
}

.category-1 {
	font-size: 25px;
	font-weight: 600;
}
.card-1 img {
	width: 100%;
}
.card-1text {
	margin-left: -43px;
}
.card-1 a {
	font-size: 35px;
	font-weight: 600;
	color: #c4170c;
	text-decoration: none;
}
.card-1 a:hover {
	color: #a6130a;
}
.card-1 p {
	font-size: 27px;
}

.time-card1 {
	font-size: 27px;
	color: #746565;
}
.btn-default {
	background-color: #c4170c;
	border: 1px solid #707070;
	border-radius: 4px;
	margin: 90px 0 185px;
	align-self: center;
	width: 390px;
	height: 90px;
	font-size: 25px;
	color: #fff;
	box-sizing: border-box;
	cursor: pointer;
	transition: 0.5s;
}
.btn-default:hover {
	background-color: #a6130a;
}

footer {
	background-color: #c4170c;
	color: #fff;
	border: 1px solid #707070;
	padding: 40px 40px 0 100px;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
}

.footer-logo {
	display: flex;
	gap: 35px;
	align-items: center;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 45px;
}
.footer-bottom {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	margin-bottom: 5px;
}
.footer-list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}
.footer-list p {
	float: left;
	position: relative;
	left: 0;
	bottom: 0;
}
.footer-list li + li:before {
	content: "|";
	padding: 0 5px 0 12px;
}

footer a {
	text-decoration: none;
	color: #fff;
}

@media screen and (max-width: 1360px) {
	.footer-list {
		display: none;
	}
}

@media screen and (max-width: 1060px) {
	.top-menu span{
		display: none;
	}
	.top-header {
		padding: 0 50px;
	}
	.top-search input{
		background-color: transparent;
		border: 0;
		width: 100px;
		width: 100px;
		padding: 0
	}
	.top-search input::placeholder{
		color: transparent;
	}
	.top-search input:focus {
		width: 100px;
		padding-left: 50px;
	}
	.logo img{
		width: 75px;
	}
	.search-img{
		pointer-events: none;
	}
	.footer-logo img{
		width: 50px;
	}

}

@media screen and (max-width: 600px) {
	.grid-main{
		display: flex;
		flex-direction: column;
		gap: 90px;
	}
	.grid-1text br{
		display: inline;
	}
	.card-1{
		flex-direction: column;
		gap: 30px;
	}
	.card-container{
		width: 100%;
	}
	.card-1text {
		margin-left: 0;
		gap: 10px;
	}
	footer{
		padding: 20px 20px 0 60px;
	}
}

@media screen and (max-width: 425px){
	.top-header {
		padding: 0 25px;
	}
	.logo img{
		width: 50px;
	}
	.btn-default{
		width: 200px;
	}
	footer{
		padding: 10px 10px 0 40px;
	}

}
